{{define "TimerecordList"}}
<table class="table table-striped table-hover" style="margin: 0;">
    <thead>
        <tr>
            {{if not .TimerecordsSlim}}<th>Task</th>{{end}}
            <th>User</th>
            <th>Day</th>
            <th>Time</th>
            {{if not .TimerecordsSlim}}<th>Action</th>{{end}}
        </tr>
    </thead>
    <tbody>
        {{with $data := .}}
            {{range $k, $v := .Timerecords}}
            <tr>
				{{if not $data.TimerecordsSlim}}
				<td>
                    {{$v.GetTask.GetName}}
                </td>
				{{end}}
                <td>
                    {{$v.GetUser.GetUserName}}
                </td>
                <td nowrap>
                    {{$v.GetDate}}
                </td>
                <td>
					{{if not $data.TimerecordsSlim}}
                    	{{$v.GetStart}} - {{if $v.InProgress}} In Progress {{else}} {{$v.GetStop}} {{end}}
					{{else}}
						{{$v.GetStart}}<br>
						{{if $v.InProgress}} In Progress {{else}} {{$v.GetStop}} {{end}}
					{{end}}
                </td>
				{{if not $data.TimerecordsSlim}}
                <td>
                    <div class="btn-group">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
							Action <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="/timerecord/view/{{$v.GetID}}">View</a></li>
                            {{if not $v.InProgress}}
                            <li><a href="/timerecord/edit/{{$v.GetID}}">Edit</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/timerecord/delete/{{$v.GetID}}">Delete</a></li>
                            {{end}}
						</ul>
					</div>
                </td>
				{{end}}
            </tr>
            {{end}}
        {{end}}
    </tbody>
</table>
{{end}}