{{define "TimerecordList"}}
<table class="table table-striped table-hover" style="margin: 0;">
    <thead>
        <tr>
            <th>Task</th>
            <th>User</th>
            <th>Day</th>
            <th>Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{with $data := .}}
            {{range $k, $v := .Timerecords}}
            <tr>
                <td>
                    {{$v.GetTask.GetName}}
                </td>
                <td>
                    {{$v.GetUser.GetUserName}}
                </td>
                <td>
                    {{$v.GetDate}}
                </td>
                <td>
                    {{$v.GetStart}} - {{if $v.InProgress}} In Progress {{else}} {{$v.GetStop}} {{end}}
                </td>
                <td>
                    <div class="btn-group">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
							Action <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="/timerecord/view/{{$v.GetID}}">View</a></li>
                            <li><a href="/timerecord/edit/{{$v.GetID}}">Edit</a></li>
						</ul>
					</div>
                </td>
            </tr>
            {{end}}
        {{end}}
    </tbody>
</table>
{{end}}